@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* một vài tùy chỉnh nhỏ */
body {
  @apply bg-gray-50 font-sans;
}

@keyframes pop {
  0% { transform: scale(0.8); opacity: 0.8; }
  60% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); }
}

.animate-pop {
  animation: pop 0.25s ease-out;
}
